<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IFS_Thesis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <IFS_Thesis.Properties.Settings>
            <setting name="InitialPopulationSize" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="N2IndividualsCount" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="N3IndividualsCount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="N4IndividualsCount" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="MutationProbability" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="AverageFitnessThreshold" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="N1IndividualsCount" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="WorkingDirectory" serializeAs="String">
                <value>C:/Users/Loydik/Desktop/IFS Images</value>
            </setting>
            <setting name="NumberOfGenerations" serializeAs="String">
                <value>2000</value>
            </setting>
        </IFS_Thesis.Properties.Settings>
    </userSettings>
  <log4net>
    <!--
  This writes the log information to the console window.  It only logs events
  that are at least at the INFO level (which would mean that DEBUG events are not
  captured.
  -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newlineExtra Info: %property{testProperty}%newline%exception"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>
    <!--
  This stores information in the mylogfile.txt file.  It only captures log events
  that contain the key word test or error.
  -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Users/Loydik/Desktop/IFS Images/ifs_latest_run.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="100MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline%exception"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
</configuration>